// Mixins
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  // transition: width 2s linear 1s;
}
@mixin serif-font() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin titleFont() {
  font-family: 'Comfortaa', cursive;
}
